# Data Analysis with Pandas

Author: Daniel Dills

In [1]:
import pandas as pd
import numpy as np
from statistics import median, mean

In [2]:
station_df = pd.read_csv("bike_stats/station.csv")
trip_df = pd.read_csv("bike_stats/trip.csv", error_bad_lines=False)
weather_df = pd.read_csv("bike_stats/weather.csv")

/Users/dillsd/Documents/Projects/CodeFellows/code401/labs/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [3]:
trip_df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

### What is the average trip duration for a borrowed bicycle?

In [4]:
avg_duration = (trip_df["tripduration"].mean()/60).round(decimals=0)
print(f'Average trip duration rounded to minute: {avg_duration}')

Average trip duration rounded to minute: 20.0

### What's the most common age of a bicycle sharer?

In [6]:
year = int(trip_df["birthyear"].mode())
age = 2021 - year
print(age)

34

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [8]:
avg_precipitation = weather_df["Precipitation_In"].mean()
print(avg_precipitation)

0.10506531204644412

### What’s the average number of bikes at a given bike station?

In [9]:
avg_bikes_at_station = station_df["current_dockcount"].mean()
print(avg_bikes_at_station)

16.517241379310345

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [12]:
difference_in_number_of_bikes = station_df["current_dockcount"] - station_df["install_dockcount"]
difference_in_number_of_bikes.mean()
# The dock is more likely to lost bikes, due to the negative number

-1.0689655172413792